/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
}

.boxelement {
  color: #FFFFFF;
  border-radius: 6px;
  background: #000000;
  max-width: 140px;
  padding: 2px;
  margin: 2px;
}